@charset "utf-8";
/*! customised css settings for Scrum website */

/*!  ----------------- customised css settings for Scrum website - HTML Body  -----------------*/

body {
    background-color: #FFFFFF;
}


/*!  ----------------- customised css settings for Scrum website - HTML Header Content  -----------------*/
.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    height: 124px;
    padding-bottom: 20px;
    top: 1px;
    background-image: url(../images/scrum.jpg);
    background-position: 1% 1%;
    background-size: 7.5%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.header h1 {
    text-align: center;
    color: #043F6F;
}

.header {
    color: #043F6F;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}






/*! -----------------customised css settings for Scrum website - Navigation Bar ------------------------*/
.navbar-default {
	/*css to make nav bar sticky to top and look normal*/ 
	width:100%; z-index:100; 
	margin-top:0px; 
	margin-bottom:0;
	border-radius:0; 
	margin-left:0; 
	border:none; 
	color:#fff; 
	background-color:#558184; 
} 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { 
	background-color:#DBE6E6; 
	color:#558184; 
} 
.navbar-default .navbar-nav>li>a{ 
	color:#fff; 
} 
#navbar > ul > li.dropdown.open > ul > li > a:hover { 
	color:#fff; 
	background-color:#558184; 
} 
.navbar.navbar-default.navbar-fixed-top {
    color: #FFFFFF;
    background-color: #043F6F;
}
.navbar.navbar-default.navbar-fixed-top .container #navbar {
    color: #FFFFFF;
}
.container #navbar .nav.navbar-nav {
    color: #FFFFFF;
}
.nav.navbar-nav li a {
    color: #FFFFFF;
}
.nav.navbar-nav li a:hover {
    color: gold;
}
.navbar.navbar-default.navbar-fixed-top .container #navbar {
    color: gold;
}
.color-me{
    color:#ffffff;
}
span.nobr { 
	white-space: nowrap; 
} 
/*!  ----------------- customised css settings for Scrum website - HTML Body Content  -----------------*/
.container.content {
    width: 100%;
    padding-top: 200px;

}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container.content h1 {
    color: #043F6F;
    font-size: 3.5em;
}

.container.content .row {
    width: 100%;
}
.container.content .row .col-lg-6 {
    width: 49%;
}
.container.content .col-12.col-md-9 {
    text-align: left;
    width: 75%;

}
.col-12.col-md-9 p img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container.content .col-12.col-md-9 p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

/*!  -----------------customised css settings for Scrum website - Form-----------------------*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #043F6F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col-md-6 #1 {
    height: 50%;
    background-color: #0000FF;
    border-width: thin;
    border-color: #000000;
}
.row .col-md-6 #2 {
    height: 50%;
    background-color: #FF0000;
    border-width: thin;
    border-color: #000000;
}
.row .col-md-6 #3 {
    height: 50%;
    background-color: #FFFF00
    border-width: thin;
    border-color: #000000;
}
.row .col-md-6 #4 {
    height: 25%;
    background-color: #00FF00
    border-width: thin;
    border-color: #000000;
}
.row .col-md-6 #5 {
    height: 25%;
    background-color: #FFA500
    border-width: thin;
    border-color: #000000;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}




/*!  ----------------- customised css settings for Scrum website - Tables  -----------------*/
.container.content .col-md-9 table {
    font-size: 1em;
}
.container.content .col-md-9 .personal_details {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75em;
    line-height: 2em;
    text-align: left;
}
.container.content .col-md-9 .career_summary {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.75em;
    line-height: 2em;
}
.container.content .col-12.col-md-9 table {
    width: 100%;
    font-size: 1em;
    text-align: left;
}
.container.content .col-md-9 table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	font-size: 1em;
}

.col-12.col-md-9 table tr {
    text-align: left;
    left: 1px;
}
tr h2 a {
    text-align: left;
    width: 100%;
}
.col-12.col-md-9 table .table-heading {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.col-12.col-md-9 table p {
    width: 100px;
    float: left;
    left: 1px;

}
.col-md-9 table tr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1.25em;
}
table tr td {
    height: 1.25em;
    vertical-align: text-top;
    padding-right: 5px;
}
.container.content h1 {
    padding-top: 1em;
}
.col-12.col-md-9 table h2 {
    float: left;
}

/*!  ----------------- customised css settings for Scrum website - Footer  -----------------*/
#footer {
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #043F6F;
    text-align: center;
}
.container.content .col-12.col-md-9 figcaption {
    width: 60%;
    font-size: medium;
}
.container.content .col-md-9 .career_summary {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.col-12.col-md-9 table .1 {
    width: 40%;
    min-width: 0%;
}
.col-12.col-md-9 table .2 {
    width: 60%;
    max-width: 60%;
}
.container.content .col-12.col-md-9 p {
    width: 100%;
    text-align: left;
}
figure p img {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}
.container.content .col-12.col-md-9 figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}




























@media screen and (min-width: 320px) {
	.container.content .row .col-lg-6 {
    width: 99%;
    }

}

@media screen and (min-width: 400px) {
	.container.content .row .col-lg-6 {
    width: 99%;
    }

}

@media screen and (min-width: 639px) {
	.container.content .row .col-lg-6 {
    width: 99%;
    }





@media screen and (min-width: 800px) {
	.container.content .row .col-lg-6 {
    width: 99%;
    }
}
@media screen and (min-width: 959px) {
	.container.content .row .col-lg-6 {
    width: 99%;
    }
}

@media screen and (min-width: 1279px) {
	.container.content .row .col-lg-6 {
    width: 49.5%;
    }
}

@media screen and (min-width: 1599px) {
	.container.content .row .col-lg-6 {
    width: 49.5%;
    }
}

@media screen and (min-width: 1920px) {
	.container.content .row .col-lg-6 {
    width: 49.5%;
    }
}
