@charset "utf-8";
/* CSS Document */

body{

}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: #F7F5E0;
    border: 1px double #043F6F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    font-family: Tahoma, Geneva, sans-serif;
    color: #043F6F;
    font-weight: lighter;
}

.form-signin .form-signin-heading{
	color: #043F6F;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
	margin-top:25px;
	margin-bottom:25px;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
    font-family: Verdana, Geneva, sans-serif;
    color: #043F6F;
}
.container.content .signin-form h2 {
    color: #043F6F;
}

.signin-form h2 {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
fieldset label textarea {
    width: 100%;
}
#myform fieldset label {
    width: 98%;
}
fieldset label input {
    width: 100%;
}


#myform fieldset label {
    width: 98%;
}
