@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.fancybox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
}

h1{
  font-family: 'Fredoka One', cursive;
  font-size: 55px;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 18px;
}
h2.section-title{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 34px;
  color:rgb(37, 37, 37)
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 380px 380px 380px 1fr;
  grid-template-rows: 500px;
  grid-gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.grid-container1{
  display: grid;
  grid-template-columns: 1fr 380px 380px 380px 1fr;
  grid-template-rows: repeat( 2, 500px);
  grid-gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.card {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  background-color: #fff99e; 
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image{
  margin-left: 30px;
  width: 320px;
  height: 350px;
  border-radius: 15px;
  margin-top: 20px;
}

#overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
  cursor: pointer; 
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
  
h3.cardtitle{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: verdana;
  font-size: 26px;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

.card-button{
  background-color: #219faf; 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 8px;
  font-size: 20px;
  border-radius: 3em;
  grid-column-start: 2;
  grid-row-start: 3;
  transition-property: font-size font-weight color;
  transition-duration: 1s;
}
